.navbar {
  margin-bottom: 0px;
  border-radius: 0;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  padding: 5px;
}

ul > li:before {
  content: none !important;
}

@media(max-width:650px){
  .bn{
    width: 50%;
    margin-left: 10px;
  }
  .bn1{
 
    width: 50%;
    margin-left: 10px;
    margin-top: 1rem;
    color: white;
    background-color: rgb(227, 94, 94);
  }
} 
.bn{
 
  
  color: white;
}
.bn:hover{
  color: #153280;

}
.bn1{
 
  margin-left: 1rem;
  color: white;
  background-color: rgb(227, 94, 94);
}
.bn1:hover{
  color: #153280;

}